<div class="table">
	<div class="tr">
		<div class="td s12 input-field">
			<input type="text" id="content" name="content" autofocus required>
			<label for="content">Beschreibung</label>
		</div>
	</div>
	<div class="tr">
		<div class="td s6 input-field">
			<input type="date" name="date" id="date" required>
			<label for="date">Angelegt am</label>
		</div>
	</div>
	<div class="tr">
		<div class="td s12 input-field">
			<input type="number" name="total" step="any" id="total" required>
			<label for="total">Summe</label>
		</div>
	</div>
	<div class="tr">
		<div class="td s12 input-field">
			<label for="repeat" class="active">repeat</label>
			<select id="repeat">
				<option value="1">Einmalig</option>
				<option value="2">Wöchentlich</option>
				<option value="3">Monatlich</option>
				<option value="4">Jährlich</option>
			</select>
		</div>
	</div>
</div>
