<div class="table grey">
    <div class="tr">
        <div class="td">
            <input type="text" class="cashs_filter" placeholder="Suchen">
        </div>
    </div>
</div>
<div class="table grey">
    <div class="tr">
        <div class="td">
            <div class="bar" id="b">
                <div class="line" style="width: 0%"></div>
            </div>
        </div>
        <div class="td">
            <div class="bar" id="a">
                <div class="line" style="width: 0%"></div>
            </div>
        </div>
    </div>
</div>
<div class="table" id="list">
    <!-- placholder -->
</div>
<a class="edit_cash fab">
    <i class="material-icons">add</i>
</a>
