<div class="gray">
    <div class="table">
        <div class="tr">
            <div class="td w5  ">
                <span class="bar">
                    <span class="line" id="a"></span>
                </span>
            </div>
            <div class="td w5 ">
                <span class="bar">
                    <span class="line" id="b"></span>
                </span>
            </div>
        </div>
    </div>
    <input type="text" class="categorys_filter" placeholder="Suchen">
</div>
<ul id="list" class="slide-fade">
    <!-- placholder -->
</ul>
<a class="edit_category fab">+</a>
