<div class="row  blue-grey lighten-5">
    <div class="col s12"><input type="text" class="categorys_filter" placeholder="Suchen"></div>
    <div class="col s6">
        <div class="progress blue lighten-4" id="a">
            <div class="determinate  blue darken-1" style="width: 30%"></div>
        </div>
    </div>
    <div class="col s6">
        <div class="progress blue lighten-4" id="b">
            <div class="determinate  blue darken-1" style="width: 70%"></div>
        </div>
    </div>
</div>
<div    id="list">
    <!-- placholder -->
</div>
<a class="btn-floating btn-large waves-effect waves-light red edit_category myfab">
    <i class="material-icons">add</i>
</a>
