<div id="fileExplorer" class="alert">
    <div class="box boxfull table">
        <div class="tr">
            <div class="td">
                <div id="list"></div>
            </div>
        </div>
        <div class="tr options">
            <div class="td">
                <div class="table">
                    <div class="tr">
                        <div class="td" id="close">
                            Abbrechen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fileProcessing" class="alert">
    <div class="box table">
        <div class="tr">
            <div class="td">
                Processing...
            </div>
        </div>
        <div class="tr options">
            <div class="td">
                <div class="table">
                    <div class="tr">
                        <div class="td" id="close">
                            Abbrechen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
