<div id="fileExplorer" class="alert">
    <div class="box boxfull">
        <div class="table">
            <div class="tr">
                <div class="td">
                    <ul id="list"></ul>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="tr">
                <div class="td">
                    Abbrechen
                </div>
                <div class="td">
                    Speichern
                </div>
            </div>
        </div>
    </div>
</div>
