<div class="settings">
	<div class=" table">
		<div class="tr">
			<div class="td">
				<h2>Allgemein</h2>
			</div>
		</div>
		<div class="tr">
			<div class="td">
				Monatsgrenze
			</div>
			<div class="td w2">
				edit
			</div>
		</div>
		<div class="tr">
			<div class="td">
				show
			</div>
			<div class="td w2">
				edit
			</div>
		</div>
		<div class="tr">
			<div class="td">
				<h2>Sichern / Wiederherstellen</h2>
			</div>
		</div>
		<div class="tr">
			<div class="td">
				show
			</div>
			<div class="td w2">
				<a class="getBackupJsonFile">Wiederherstellen</a>
			</div>
		</div>
	</div>
</div>
