.alert {
    opacity: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

.alert .box {
    padding: 20px;
    width: 80%;
    background-color: #2F323F;
    color: #fff;
    text-align: center;
    margin: -150% auto;
    transition: all 1.5s;
}

.alert .box.boxfull {
    padding: 0;
    width: 90%;
    height: 90%;
    background-color: #fff;
    color: #2F323F;
}

.alert .box.boxfull .tr.options {
    height: 50px;
}

.alert.show {
    bottom: 0px;
    opacity: 1;
}

.alert.show .box.boxfull {
    margin: 10% auto;
    overflow: hidden;
}

.alert.show .box {
    margin: 20% auto;
}

.alert .box .text {
    padding: 10px;
}

.alert .box .text {
    padding: 10px;
}

.alert .box .options {
    background-color: #2F323F;
    border-top: 2px solid #4af;
    color: #FFF;
}

.alert .box .options .td {
    vertical-align: middle;
    height: 50px;
}

.alert .box .options button {
    background-color: transparent;
    border-style: none;
    color: #fff;
    width: 48%;
    padding: 20px 10px 10px 10px;
}

.alert #list a {
    text-align: left;
    display: block;
    padding: 20px;
    transition: all .2s;
}

.alert #list a:active {
    background-color: #2F323F;
    color: #fff;
}

div#list {
    height: 100%;
    overflow: auto;
}
