.bar {
    height: 10px;
    background-color: #666;
    display: block;
    margin: 8px;
}

.bar>.line {
	  transition: all 1s ease-in-out;
    height: 100%;
    background-color: #FF9F1E;
    display: block;
    width: 0%;
}
