header {
    background-color: #2F323F;
    color: #eee;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;
        height: 60px;
}
.brad {
    display: none;
}

#go_back {
    padding: 20px 0px 20px 20px;
}

header span.title {
    display: inline;
    padding: 17px;
}

header span.title small {
    font-weight: lighter;
    font-size: 80%;
    display: block;
}

header .left {
    float: left;
}

header .right {
    float: right;
}

header a.option {
    opacity: 0;
    display: none;
    padding: 20px;
    transition: opacity .5s;
    text-align: center;
}

header a.option.show {
    opacity: 1;
    display: inline;
}
