.circle {
    height: 45px;
    width: 45px;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 150%;
    line-height: 230%;
    margin: auto;
    background-color: #24f292;
}

#list .td {
    padding: 8px;
}

#list .td.s2 {
    width: 60px;
}

#list .td span {
    display: block;
}
