.circle {
    height: 45px;
    width: 45px;
    display: block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 150%;
    line-height: 57px;
    margin: auto;
    background-color: #e4f29a;
}

#list .td {
    padding: 8px;
}

#list .td.s2 {
    width: 60px;
}
