.table.settings a, .table.settings p {
    padding: 4px;
    background-color: #fff;
    color: #2F323F;
}

.table.settings h2 {
    color: #5993FF;
}

.table.settings a {
    font-weight: bolder;
    color: #000;
}

.table.settings p {
    color: #777;
}

.table.settings a:active {
    background-color: #2F323F;
    color: #fff;
}

.table.settings .td {
    padding: 20px !important;
}
