.table.settings a {
    padding: 20px;
    background-color: #fff;
    color: #2F323F;
}

.table.settings a:hover {
    background-color: #2F323F;
    color: #fff;
}

.table.settings .td {
    padding: 20px !important;
}
